*{
    margin: 0;
    padding: 0;
}
nav{float: right;}
.logo img{float: left;
height: 70px;}

nav > ul li{ display: inline-block;
text-decoration: none;
font-size: 20px;
padding: 10px;}

li a{ text-decoration: none;
color:black;}
hr{box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
background-color: #444;}
.signup{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: medium;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100px;
    height: 30px;
}
/*---container 1---*/
.container-1{ 
  display: flex;
  margin-bottom: 15px;
}
.container-1 div{
  padding: 10px;
}
.box-1{
  flex: 2;
}
.box-2{
  flex:1;
  
}
.box-2 img{
  width: 30rem;
  height: 25rem;
}
.box-1 p{
  margin-bottom: 15px;
}
#form-1{
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 15px;
  width: 54%;
}
.location{
  position: relative;
}

.location i{
  position: absolute;
  left: 15px;
  top: 20px;
  padding: 10px 8px;
}

.inputfield{
  border: 1px #dcddda solid;
  width: 100%;
  color: #444;
  font-size: 14px;
  padding:  .6em 1.4em .5em .8em;
  box-sizing: border-box;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 40px;
}


.custom-select{
  display: flex;
  justify-content: space-between;
}
.sel1{
  
    font-size: medium;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width:200px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}
 
.sel1::-ms-expand {
  display: none;
}
.sel1:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.checkgrp{
  margin-left: 20px;
  
}

.btn{
  box-shadow: none;
  width: 90%;
  padding: 8px 25px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  color: white;
  background-color: #5C40EB;
 margin-left:20px;
}
/*----container-2----*/

.container-2{
  display: flex;
  justify-content: space-around;
}
.container-2 div{
  padding: 10px;
}
.container-2box{
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 5px;
}
.container-2box img{
  width: 22rem;
  height: 17rem;
  margin-bottom: 20px;
 
}
/*---container-3---*/
.title{
  text-align: center;
  margin-top: 20px;
}
.container-3{
  display: flex;
  justify-content: space-around;
}
.container-3 div{
  padding: 20px;
  margin-bottom: 20px;
}
.container-3-box{
  position: relative;
  width: 23%;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 5px;
}
.container-3-box i{
  position: absolute;
  left: 0;
  top: 30px;
  padding: 10px 8px
}
.box-3-content{
  padding-left: 60px;
  }

/*---- container-4 ----*/

.container-4{
  display: flex;
  justify-content: space-around;
}

.container-4 div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-4-list li{
  list-style-type: none;
}

.container-4-box{
width: 30%
}

.currency{
  border: 1px #dcddda solid;
  border-radius: 5px;
  width: 70%;
  padding: 7px;
  padding-left: 45px;
}
.currency-logo{
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
}
.currency-logo img{
  width: 20px;
  height: 17px;
}
/*---- container-5 ----*/
.container-5{
  display: flex;
  justify-content:space-around;
}
.container-5 div{
width: 70%;
margin-bottom: 20px;
}
.container-5-box-2{
  flex:5;
}
.box-5-list{
  list-style-type: none;
  display: flex;
 justify-content: space-between;
  
}